/* customized by raihan only for this template */


body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 15px;
	line-height: 22px;
	color: #898989;
	background: #F8F9FE url(../images/site-background.png);
	padding-bottom:10px;
	margin:0!important;
	padding:0!important;
}

.container{ background:#F8F9FE;}


ul{list-style: square; }
ul ul{list-style: url(../images/icons/arrow-right.png); }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #F89722;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle {
    background-color: #00A1D7;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 0px;
}



.secondary-menu .container{ background:#fff;}


.animate div{
	-moz-transition: all .5s linear;
     -webkit-transition: all .5s linear;
     transition: all .5s linear;
}

/*#colorbox *, .search *{
	-moz-transition: all 0s ;
     -webkit-transition: all 0s ;
     transition: all 0s ;
}*/
/*#book, #manage{
	-moz-transition: all .5s linear;
     -webkit-transition: all .5s linear;
     transition: all .5s linear;
}*/
.help-line{position:relative; background:#E42D30;}
.help-line>div{position:absolute; z-index:5000; right:15px; top:-59px;}
@media (max-width: 768px){
	.help-line>div{right:40%;}
}

@media (max-width: 768px){
	.help-line>div{left:10px;  top:-118px;}
}

/* top secondary nav */
.secondary-menu.navbar{display:block; clear:both; position:relative;}
.secondary-menu.navbar {border-radius: 0px;}
.secondary-menu .navbar-nav>li>a { padding-top: 10px;   padding-bottom: 10px;  }
.secondary-menu.navbar {min-height: 10px;}
.secondary-menu.navbar-default {background-color: #fff; border:1px solid #e7e7e7;
}

@media (max-width: 768px){

	.secondary-menu .navbar-nav{float:right;}
	.secondary-menu .navbar-nav>li{float:left; width:30px;}
	.navbar-nav{margin:auto;}
	.secondary-menu .navbar-nav>li>a {padding-top: 10px;  padding-bottom: 10px;  }

	.secondary-menu.navbar {min-height: 10px;}

	.secondary-menu .navbar-nav>li > a{text-indent: -9999px;}
}

.secondary-menu .navbar-nav>li.home{background-image:url('../images/icons/top-home.png');}
.secondary-menu .navbar-nav>li.login{background-image:url('../images/icons/top-login.jpg');}
.secondary-menu .navbar-nav>li.about{background-image:url('../images/icons/top-search.jpg');}
.secondary-menu .navbar-nav>li.contact{background-image:url('../images/icons/top-email.jpg');}

.secondary-menu .navbar-nav>li{content: ""; display: block; background-repeat:no-repeat; background-position:left; padding-left:5px; }

/* end top secondary nav */

/* header nav */
.nav bar-brand {width:70%; margin-top:-50px; z-index:100000; position:relative;}
.navbar-brand > img {
  object-fit: contain;
  max-height: 300%;
  height: 300%;
  margin-top:-33px;
}

@media (max-width: 400px){
	.navbar-brand > img {
	  max-height: 150%;
	  height: 150%;
	  margin-top:-10px;
	}
}

.primary-menu .nav-pills>li>a {border-radius: 4px;}

.navbar-nav>li >a{margin-left:4px;}

.primary-menu.navbar-default {background-color: #F8F9FE; border:0px solid #e7e7e7;}
.primary-menu.navbar-default .navbar-nav>li>a{color:#fff; background-color: #00a1d7; text-transform:uppercase; font-size:16px; padding-left:25px;}
.primary-menu.navbar-default .navbar-nav>.active>a{background-color: #f89722;}

@media (max-width: 768px){
	.primary-menu .nav-pills>li>a {border-radius: 0px;border-bottom:1px solid #fff}
	.primary-menu .nav-pills>li+li {margin-left: 0px;}
	.primary-menu .nav-pills>li {float: none;}
	.primary-menu .nav-pills{background:#fff; margin:0;}
	.navbar-nav>li >a{margin-left:0px;}
}

@media (max-width: 768px){
#navbar {
	border:0;
    margin: auto;
    position: absolute;
    z-index: 10000;
	left:0%;
	right:0%;
}
}

/*end header nav*/

/* carousel customized */
.carousel-control{
	background-size: cover;
}
.carousel-control.left, .carousel-control.right {
	/*background: rgba(255,255,255,0.1);*/
	background: rgba(255,255,255,0);
}
.gradient-bg{

	display:block;
	height:700px;
	width:100%;
	position:relative;
	margin-top:-700px;
	/*z-index:2000;*/

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+30,f8f9fe+100&amp;0+32,1+99 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 30%, rgba(255,255,255,0) 32%, rgba(248,249,254,1) 99%, rgba(248,249,254,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,rgba(255,255,255,0)), color-stop(32%,rgba(255,255,255,0)), color-stop(99%,rgba(248,249,254,1)), color-stop(100%,rgba(248,249,254,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 30%,rgba(255,255,255,0) 32%,rgba(248,249,254,1) 99%,rgba(248,249,254,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0) 30%,rgba(255,255,255,0) 32%,rgba(248,249,254,1) 99%,rgba(248,249,254,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0) 30%,rgba(255,255,255,0) 32%,rgba(248,249,254,1) 99%,rgba(248,249,254,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 30%,rgba(255,255,255,0) 32%,rgba(248,249,254,1) 99%,rgba(248,249,254,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f8f9fe',GradientType=0 ); /* IE6-9 */


}

.carousel-control img{width:100%;}
.carousel-inner>.item img{width: 100%;
  margin-left: auto ;
  margin-right: auto ;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right{top:25%;}
/* end carousel customized */

.slide-wrapper{position:relative; border:0px solid #F11014; }

.slide-wrapper .slide{bor der:2px solid #F11014; 	}

.body-wrapper{}

.body-container{ position: absolute; top:50%; left:19%; right:19%; background:#F8F9FE;      background-size: cover;}

.inner .body-container{ padding-left:30px!important; padding-right:30px!important;}






@media (max-width: 768px){
	.body-container{left:-50px; right:-50px; margin:-15px; border:0px solid #F11014;}
}

@media (max-width: 768px){
	.body-container{
	left:5%; right:5%;
	}
}
@media (max-width: 1500px){
	.body-container{
	left:5%; right:5%;
	}
}

.line-vert{ border-left:1px solid #D0D0D0; padding-left:30px; margin-top:72px;}


.inner .body-container{border:0px solid #EB4144; padding:20px; padding-top:-20px; top:80px;}

.inner .body-container{ background:#F8F9FE url(../images/bg-compass.png) no-repeat right top; background: rgba(255,255,255,0.9);}

.inner .breadcrumb{position: absolute; top:-55px; left:0px; width:100%; z-index:0;}

.dropdown{ z-index:50000;}

.breadcrumb{
	marg in:-20px;
	text-transform:uppercase;
/*	background:#00a1d7; */
	background: rgba(0,161,215,1.9);
	padding-top:12px;
	line-height:2;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

.inner .sidebar-iconbuttons a {
    display: block;
    margin-bottom: 12px;
}

.inner h1 strong, .inner h1 b{color:#fff!importq}
.home  h1 strong, .home h1 b{color:#333}

.breadcrumb h1{padding:0!important; margin:0!important; border:0; font-size:20px; text-transform:uppercase;color:#f8f9fe; line-height:1.4; letter-spacing:4px;}
.breadcrumb{ color:#d6d6d6}

.inner h2{ font-size:20px; text-transform:uppercase; }

@media (max-width: 768px){
	.breadcrumb .text-right{text-align:left;}
}
@media (max-width: 768px){
	.inner .body-container{ pa dding:0px;}
}



.page-contents{padding:30px; }

h1{text-transform:uppercase; font-size:30px; padding:10px 0px; padding-right:50px; margin:20px 0px; border-bottom:3px solid #C4C4C4; display:table;}

.featured-deals > div > span{display:block; width:99%; height:100%; background:#E91D20; position:absolute;


/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8f9fe+27,ffffff+100&amp;1+28,0+100 */
background: -moz-linear-gradient(top,  rgba(248,249,254,1) 27%, rgba(248,249,254,1) 28%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(27%,rgba(248,249,254,1)), color-stop(28%,rgba(248,249,254,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(248,249,254,1) 27%,rgba(248,249,254,1) 28%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(248,249,254,1) 27%,rgba(248,249,254,1) 28%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(248,249,254,1) 27%,rgba(248,249,254,1) 28%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(248,249,254,1) 27%,rgba(248,249,254,1) 28%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f9fe', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */


	padding:15px;

}
.featured-deals > img{border:1px solid #000;}
.featured-deals > div{margin-bottom:20px;}
.featured-deals > div > span > h3{color:#2a3890; font-size:2vmin; font-weight:bold;margin:0;}
.featured-deals > div > span > h2{color:rgba(0,0,0,0.5); font-size:3vmin; font-weight:bold;margin:0;}



.destination-icons-left .first-col a{display:block; margin-bottom:12px;}
.destination-icons-bottom img{ width:100%;}

.bg-compass{ background:url(../images/bg-compass.png) no-repeat right top; border:1px solid #c2c2c2; padding-left:20px; padding-right:0px;}

.pix-shaded{ background:url(../images/pix-shaded.jpg) repeat-x 50% 50% ;}

.bare-header{border:0; padding:0; margin:0; display:block; text-align:center; white-space:nowrap}

.home-content-scroll >div{margin-bottom:33px;}

.home-content-scroll{
    max-height: 285px;
	overflow:hidden;
    overflow-y:scroll;

}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;

    background: rgba(219,81,35,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}

.ongoing-offer > div{border:0px solid #000000; margin-bottom:40px;}
.ongoing-offer img{cursor:pointer; border:1px solid #CDCDCD;}


.hotel-offers img{width:95%}
.hotel-offers{color:#2c3639;white-space:nowrap; letter-spacing:-1px; }
.hotel-offers div{padding-bottom:1px;}
.hotel-offers .name{ text-transform:uppercase;   font-weight:bold; }
.hotel-offers .price{width:100%; he ight:50px; ba ckground:#E78687;   font-weight:bold;}
.hotel-offers > div{margin-bottom:10px;}
.hotel-offers .features{}


@media (max-width: 767px) {
	.hotel-offers .name{font-size:15px;}
    .hotel-offers .price{font-size:35px;}
	.hotel-offers .features{font-size:12px;letter-spacing:0px;}
}

@media (max-width: 992px) {
	.hotel-offers .name{font-size:15px;}
    .hotel-offers .price{font-size:30px;}
	.hotel-offers .features{font-size:12px;letter-spacing:0px;}
}

@media (min-width: 1200px) {
	.hotel-offers .name{font-size:12px;}
    .hotel-offers .price{font-size:25px;}
	.hotel-offers .features{font-size:12px;letter-spacing:-1px;}
}


.padding-top-no{margin-top:0; padding-top:0;}
.padding-top-10{margin-top:10px; padding-top:10px;}

.social-link-wrapper >  span > div{border-top:1px solid #c2c2c2;border-bottom:1px solid #c2c2c2;}

.test div, .test span{ border:1px solid #000000!important;}

.test2 > div{ border:1px solid #000000!important;}

.footer strong{text-transform:uppercase;}
.footer strong, .footer a{display:block}

.footer{padding-bottom:40px;padding-top:40px; 0px; border-bottom:1px solid #c2c2c2; font-size:13px;    padding-left: 10px;padding-right: 10px;}
.copyright{ text-align:center; padding:30px;font-size:13px;}



/*  smiles */

.smiles input[type='text'], .smiles input[type='password']{
	border:0;
	 line-height: 2;
	 height: 40px;
	 ba ckground:#D3D4D8 ;
	 background-color:rgba(211,212,216,0.6);
	  width: 100%;
	  margin-bottom:20px;
	  padding-left:10px;
}

.smiles_logo{text-align:center;}

.smile-bg{
	background:#F8F9FE url(../images/bg-smile-login.jpg) no-repeat 0 0;
	background-size:100%;
	padding:0px 30px!important;
	padding-bottom:20px!important;
}
/*@media (min-width: 992px) and (max-width: 1199px)*/

@media(min-width: 700px) and (max-width: 992px)  {
.smile-bg{
	background:url(../images/bg-smile-login-md.jpg) no-repeat;
	background-size:100%;
	}
}

.smiles label{display:block;}
.smiles input[type='text'], .smiles input[type='password']{width:100%;}
.smiles  input[type='submit'], .smiles  input[type='button']{
	text-transform:uppercase;
	padding-left:10%;
	padding-right:10%;
	 line-height: 2;
	 height: 40px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border:0!important;
}
/*  end smiles */



/* search tabs */
.search-bg{background-color:#F8F9FE!important;}

@media(min-width: 700px) and (max-width: 1199px)  {
.search-bg{background:transparent;}
}

.search{padding:0!important}
.search .nav-tabs >li *{background-color:transparent!important;border:0!important;}
.search .nav-tabs{width:100%; border:0;}
.search .nav-tabs>li>a{border-radius:0;line-height:2;}

.search .nav-tabs>li{background:#D9DBDE!important;; }
.search .nav-tabs>li.active{background:#F8F9FE!important;;border:0; }

.search .nav-tabs>li:first-child >a{background:url(../images/icons/search-book.png) 10% no-repeat; padding-left:30%;}
.search .nav-tabs>li:last-child > a{background:url(../images/icons/search-manage.png) 2% no-repeat; padding-left:8%;}
.search .nav-tabs>li:first-child{width:20%;background:#F8F9FE;}
.search .nav-tabs>li:last-child{width:80%;background:#F8F9FE;}

.search .tab-pane{background:#F8F9FE!important; padding:30px;}

.search #collapse-myTab a{background:url(../images/icons/search-book.png) 0px no-repeat; padding-left:40px;}
.search #collapse-myTab a[href="#collapse-manage"]{background:url(../images/icons/search-manage.png) 0px no-repeat; padding-left:40px;}

.search .panel-group .panel, .search .panel-heading{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border:0!important;
}



.search .tab-content, .search .panel-body{background-color:#f9fafc}

.search .accordion-toggle:hover{text-decoration: none!important; border: 0px solid black}

.search *{border:0!important;text-decoration: none!important;}

.search .trip_type > div{margin-bottom:20px; text-align:right;}
.search .trip_type > div label{display:block; font-weight:normal;}

.search .fixed-flexible > div{margin-bottom:20px;}


.bootstrap-switch-label{width:90px!important;}



.bootstrap-switch, .bootstrap-switch *{
	-webkit-border-radius: 0px!important;
	-moz-border-radius: 0px!important;
	border-radius: 0px!important;
	}

.bootstrap-switch .bootstrap-switch-label{background-color:#CACFD3}
.bootstrap-switch > div{height:40px;}

/*
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off{padding: 11px 12px;}
*/

.bootstrap-switch .bootstrap-switch-handle-on, .bootstrap-switch .bootstrap-switch-handle-off, .bootstrap-switch .bootstrap-switch-label {
    padding: 10px 12px;
}

/* end search tabs*/

/* search form */
.styled-select select {
   background: transparent;
   width: 100%;
	padding-left:10px;
   line-height: 2;
   border:0px!important;
   border-radius: 0;
   height: 40px;
   	-webkit-appearance: none;
	-moz-appearance:none;
	-moz-appearance:none;
	 appearance:none;
}

.styled-select {
   width: 100%;
   height: 40px;
   overflow: hidden;
   backg round:#D3D4D8 url(../images/icons/search-book.png) no-repeat 97%;
   vertical-align: middle !important;
   border: 1px solid #a7a8ac;
   margin-bottom:20px;
}





.from-part .styled-select {  background:#D3D4D8 url(../images/icons/search-from.png) no-repeat 97%;}
.to-part .styled-select {  background:#D3D4D8 url(../images/icons/search-to.png) no-repeat 97%;}

.styled-select.no-icon {  background:#D3D4D8 url(../images/icons/pix.png) no-repeat 97%;}

.search .btn-search{line-height: 2; height: 40px; background:#D64823; color:#FFFFFF; width:100%;}

.search #from-date, .search #to-date{width: 100%; line-height: 2;height: 40px;padding-left:10px;     margin-bottom: 20px;}
.search #from-date{  background:#D3D4D8 url(../images/icons/search-cal.jpg) no-repeat 97%;}
.search #to-date {  background:#D3D4D8 url(../images/icons/search-cal.jpg) no-repeat 97%;}

.search select{text-transform:uppercase;}


/* end search form */

/* manage booking */
.manage-booking input[type='text']{
	 line-height: 2;
	 height: 40px;
	 background:#D3D4D8 ;
	  width: 100%;
	  margin-bottom:20px;
}
.manage-booking .btn-manage{line-height: 2; height: 40px; background:#898A8E; color:#FFFFFF; width:100%;}

.instruction{font-size:12px;}

/* end manage booking */


/*  date picker */
.datepicker table tr td,
.datepicker table tr th{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
/*  end date picker */

@media (min-width: 1200px){
.styled-select select[name="PC"],.styled-select select[name="PI"] {
    padding-left: 0px;
 }

.styled-select select[name="PI"]{
	letter-spacing:-0.09em;
	margin-left: 0px;
	font-size:12px;
	}

}
.search-panel{border:0px solid #000; padding:0px 15px; border-bottom: 0px solid #fff;}

.panel-default>.panel-heading {
    color: #333;
    background-color: #D9DBDE;
    border-color: #ddd;
}

.panel-default>.panel-heading h4 a {color:#333;}

/* fare-chart table */

.table{border-bottom:1px solid #DDDDDD;}
.table.fare-chart{border-bottom:1px solid #DDDDDD;}
.table.fare-chart td, .table.fare-chart th{vertical-align:middle!important;}
.table.fare-chart .table{ background:transparent; margin-bottom:0;}

.table.fare-chart .table  td:first-child, .table.fare-chart .table tr:first-child td:nth-child(2){border-top:0px;}

.table.fare-chart .table td:first-child, .table.fare-chart .table tr:first-child td:nth-child(2){border-top:0px;}

.table.fare-chart .table td[rowspan="2"]{border-bottom:1px solid #DDDDDD;}
.table.fare-chart .table  tr:nth-child(7) td[rowspan="2"]{border-bottom:0px;}
.table.fare-chart  td[colspan="2"]{padding:0!important;}

.table.fare-chart strong{display:block;}

.table.fare-chart .table{ border-bottom:0px!important;}

.table.baggage{border-bottom:1px solid #DDDDDD;}
.table.baggage td[rowspan="3"]{border-left:1px solid #DDDDDD; vertical-align:middle; text-align:center;}

.trvl-agent-login div{line-height:3; padding-top:15px;}
.trvl-agent-login{border-top:1px solid #DDDDDD;border-bottom:1px solid #DDDDDD; }

.form-control{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.trvl-agent-register input[type='text'], .trvl-agent-register input[type='file']{
    line-height: 2;
    height: 40px;
    background: #D3D4D8;
    width: 100%;
    margin-bottom: 20px;

	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.trvl-agent-register .agent-submit {
    line-height: 2;
    height: 40px;
    background: #898A8E;
    color: #FFFFFF;
    width: 100%;
}
.trvl-agent-register label{display:block;}

.btn{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.job-list td{ line-height:2;vertical-align:middle!important;}
.job-list td{ line-height:4; vertical-align:middle!important;}

.job-apply input[type="file"], .job-apply input[type="text"],input[type="email"],textarea{
	width:100%;
    line-height: 2;
    height: 40px;
    background: #D3D4D8;
    width: 100%;
    margin-bottom: 20px;

	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.job-apply{padding:20px;}
.job-apply label{display:block;}


/* google fonts */
table  th{font-weight:normal;}

table tr:first-child th{
	font-family: 'Oswald', sans-serif;
	color:#00A1D7;
	font-weight:normal;
	text-transform:uppercase;
}

.breadcrumb h1{font-family: 'Abel', sans-serif;}
.breadcrumb .text-right{font-family: 'Abel', sans-serif; color:#fff;}



.bootstrap-switch .bootstrap-switch-handle-on, .bootstrap-switch .bootstrap-switch-handle-off, .bootstrap-switch .bootstrap-switch-label{font-size:13px;}
#searchForm{font-size:13px;}


/* button style radio */


#flight_types div .input_hidden,
#is_flexible div .input_hidden{
    position: absolute;
    left: -9999px;
}

#flight_types div .selected,
#is_flexible div .selected {
    background-color: #428BCA;
	color:#fff;
	padding:6px;
}

#flight_types div label,
#is_flexible div label {
    display: inline-block;
    cursor: pointer;

	font-family: Helvetica,Arial,sans-serif;
	font-size:13px;
	width:90px;
	width:100%;
	height:40px;
	text-align:center;
	line-height:2.3;
	margin:0;
	white-space:nowrap;
	font-weight:normal;
}


#flight_types div label,
#is_flexible div label  {
    padding:6px;
	background-color:#CACFD3;

}

/*FAQ PAGE PANEL OVERRIDES */
.faq-override>.panel-group{
	width:100%;
}

.faq-override>.panel-group>.panel{
	border-radius: 0;
}
/* end button style radio */

.menu-icon {
	font-size:3em;
}

.novoblue{
	color: #00a1d7;
}

.sq-corner { border-radius: 0px;}

/* BLOCKQUOTE STYLES */
.glyphicon-lg{font-size:3em}
.blockquote-box{border-right:2px solid #E6E6E6;margin-bottom:25px; background-color: #fff}
.blockquote-box .square{width:100px;min-height:50px;margin-right:22px;text-align:center!important;background-color:#E6E6E6;padding:20px 0}
.blockquote-box.blockquote-primary{border-color:#357EBD}
.blockquote-box.blockquote-primary .square{background-color:#428BCA;color:#FFF}
.blockquote-box.blockquote-success{border-color:#4CAE4C}
.blockquote-box.blockquote-success .square{background-color:#5CB85C;color:#FFF}
.blockquote-box.blockquote-info{border-color:#46B8DA}
.blockquote-box.blockquote-info .square{background-color:#5BC0DE;color:#FFF}
.blockquote-box.blockquote-warning{border-color:#EEA236}
.blockquote-box.blockquote-warning .square{background-color:#f89722;color:#FFF}
.blockquote-box.blockquote-danger{border-color:#D43F3A}
.blockquote-box.blockquote-danger .square{background-color:#D9534F;color:#FFF}




/* ZIGZAG TIMELINE STYLES*/
.timeline {
    position: relative;
    padding:4px 0 0 0;
    margin-top:22px;
    list-style: none;
}

.timeline>li:nth-child(even) {
    position: relative;
    margin-bottom: 50px;
    height: 180px;
    right:-100px;
}

.timeline>li:nth-child(odd) {
    position: relative;
    margin-bottom: 50px;
    height: 180px;
    left:-100px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
    min-height: 170px;
}

.timeline > li .timeline-panel {
  position: relative;
  float: left;
  width: 41%;
  padding: 0 20px 20px 30px;
  text-align: right;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 50%;
    border: 7px solid #3b5998;
    border-radius: 100%;
    background-color: #3b5998;
    box-shadow: 0 0 5px #4582ec;
    width: 200px;
    height: 200px;
    margin-left: -100px;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top:22px;
    margin-bottom: 4px;
    padding:0;
    color: #b3b3b3;
}

.timeline .timeline-heading h4.subheading {
  margin:0;
  padding:0;
    text-transform: none;
    font-size:18px;
    color:#333333;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
    color:#808080;
}
/*Style for even div.line*/
.timeline>li:nth-child(odd) .line:before {
    content: "";
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 690px;
    width: 4px;
    height:340px;
    background-color: #3b5998;
    -ms-transform: rotate(-44deg); /* IE 9 */
    -webkit-transform: rotate(-44deg); /* Safari */
    transform: rotate(-44deg);
    box-shadow: 0 0 5px #4582ec;
}
/*Style for odd div.line*/
.timeline>li:nth-child(even) .line:before  {
    content: "";
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 450px;
    width: 4px;
    height:340px;
    background-color: #3b5998;
    -ms-transform: rotate(44deg); /* IE 9 */
    -webkit-transform: rotate(44deg); /* Safari */
    transform: rotate(44deg);
    box-shadow: 0 0 5px #4582ec;
}
/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0px;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    left: 690px;
    margin-left: 0px;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 76%;
    padding: 0 0 20px 0px;
    text-align: left;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: right;
  }
  .timeline > li .line {
    display: none;
  }
}
/* Small Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0px;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    left: 520px;
    margin-left: 0px;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: left;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: right;
  }
  .timeline > li .line {
    display: none;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 767px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li .timeline-image {
    position: static;
    width: 150px;
    height: 150px;
    margin-bottom:0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    float:right;
    left: 0px;
    margin-left:0;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 100%;
    padding: 0 0 20px 14px;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 100%;
    padding: 0 14px 20px 0px;
  }
  .timeline > li .line {
    display: none;
  }
}


/* SUARE BUTTON */
.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
}

.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}
