/* CSS Document */

body{
	/*background: transparent url(../images/bg2.png) repeat-x 0 600px;	*/
	font-family:AllerRegular;
	margin:0;
	padding:0;
	color:#e6e6e6;
	font-size:14px;
}



.bg_holder{
	background:#585858 url(../images/bg.png) repeat-x top;
	height:auto;
	float:none;
	border:2px solid #0000;
}

.clear{
	clear:both!important;
}

.siteWidth{
	width:980px;
	margin:0 auto;
}

/* cols assignment */

#col_1{
	display:block;
	float:left;
	width:190px;
	width:140px;

}
#col_2{
	display:block;
	float:left;
	width:790px;
	width:840px;
	background:  url(../images/watermark.jpg) no-repeat 100% 103px;
	min-height:633px;
	
}
#col_2_1{
	display:block;
	float:left;
	width:840px;
	border-right:0px solid #8a8a8a;
	min-height:530px;
}
#col_2_2{
	display:block;
	float:left;
	width:0px;
	
	
}

#col_2 .banner{
	height:103px;
}


#col_2 #col_2_1 .site_title{
	height:51px;
	font-family:AllerRegular;
	font-size:30px;
	color:#FFFFFF;
	padding-left:30px;
	padding-right:20px;
	margin-top:4px;
	text-align:right;
}

#col_1  .leftmenu_title{
	font-size:24px;
	color:#b8d6de;
	height:29px;
	background:transparent;
	padding-left:0px;
	padding-top:10px;
	margin-top:15px;
	font-size:14px;
	text-transform:uppercase;

	}

#col_2 #col_2_2 .submenu_title{
	font-size:14px;
	
	background:transparent;
	color:#b8d6de;
	height:29px;
	background:transparent;
	padding-left:0px;
	padding-top:15px;
	margin-top:50px;
	text-transform:uppercase;
}

#col_2 #col_2_2 .submenu{
	padding-top:0px;
	border-right:0px solid #8a8a8a;
	background:#2D4856;
	
	height:520px;
}






.home_body_content{
	padding-left:20px;
	padding-right:20px;
	text-align:justify;
	height:auto;
}

.clild_menu{
	width:100%px;
	border-bottom:2px solid #70909f;
	padding-bottom:1px;
	margin-top:35px;
}

.clild_menu a{
	display: block;
	padding:15px;
	padding-top:3px;
	padding-bottom:3px;
	float:left;
	text-decoration:none;
	color:#b9d7df;
	background:#4a6c7c;
	margin-right:1px;
	
	}
.clild_menu a.active{
	display: block;
	padding:15px;
	padding-top:3px;
	padding-bottom:3px;
	float:left;
	text-decoration:none;
	color:#000;
	background:#70909f;
	margin-right:1px;
	
	}
.clild_menu a.active2{
	background:#70909F;
}

	
.clild_menu a:hover{
	background:#70909f;
	}	
.logo_bg{
	ba ckground: url(../images/logo_bg.png) repeat-x;
	width:242px;
	height:63px;
	padding-top:80px;
	clear:both;
	cursor:pointer;
	border:0px solid #575454;
}


.logo_bg .logo{
	display:block;
	background: url(../images/logo.png) no-repeat left;
	height:71px;
	cursor:pointer;
	position:absolute;
	width:450px;
	
}

.leftMenu a{
	display:block;
	text-align:right;
	text-decoration:none;
	color:#3089ce;
	font-family:AllerBold;
	font-size:11px;
	border-top:1px solid #424242;
	bor der-bottom:1px solid #292929;
	padding:6px;
	padding-right:18px;
	back ground: url(../images/bullet_orange.png) no-repeat  5%;
	 
}

.leftMenu a:hover, .leftMenu a.active{

	color:#FFFFFF;
	background:#2D4856 url(../images/bullet_orange.png) no-repeat  5%;
/*	border-bottom:1px solid #5E5E5E;
	border-right:1px solid #5E5E5E;*/
}



.leftMenu{
	border-top:1px solid #292929;
	border-bottom:1px solid #424242;
	margin-top:0px;
}


.subMenu a{
	display:block;
	text-align:right;
	text-decoration:none;
	color:#3089ce;
	font-family:AllerBold;
	font-size:11px;
	border-top:0px solid #424242;
	border-bottom:1px solid #2D4856;
	padding:6px;
	padding-right:18px;
	back ground: url(../images/bullet_orange.png) no-repeat  99%;
	 
}




.subMenu a:hover, .subMenu a.active{

	color:#FFFFFF;
	background:#636363;
/*	border-bottom:1px solid #5E5E5E;
	border-right:1px solid #5E5E5E;*/
}

.subMenu a:hover, .subMenu a.active2{
	background:#41697D;
}
.subMenu{
	border-top:1px solid #292929;
	border-bottom:1px solid #424242;
	margin-top:0px;
}



.recent_activities_block{
	background:url(../images/recent_activities_bg.png) no-repeat;
	height:159px;
	margin-left:30px;
}


.recent_activities_block .title{
	font-size:26px;
	padding-left:10px;
	position:absolute;
	margin-top:-28px;
	color:#FFFFFF;
}

.recent_activities_block strong{
	color:#ff7010;
	display:block;
	margin-bottom:5px;
}

.recent_activities_block ul{
	padding:0;
	margin:0;
	border:0px solid #333333;
	padding-top:15px;
	padding-left:35px;
}

.recent_activities_block ul li{
	padding-bottom:10px;
}
#footer{
	color:#2d2d2d;
	font-size:12px;
}
#footer .col_1{
	display:block;
	float:left;
	width:490px;
	height:50px;
	padding-top:10px;
	
}
#footer .col_2{
	display:block;
	float:left;
	width:490px;
	height:50px;
	padding-top:10px;
	text-align:right;
}

/*  grid  */


.grid th{
	text-align:left;
	font-weight:normal;
	background:#5b7b8a;
	padding:5px;
	border-left:1px solid #313131;
}

.grid td{
	background:#5d5d5d;
	padding:5px;
	border-left:1px solid #787878;
}

.grid .alt td{
	background:#787878;
	border-left:1px solid #5D5D5D;
}
.grid .first{
	border-left:0;
}



.grid th.action{
	text-align:right;
	float:none;
}

.grid .action{
	float:right;
}
.grid .action{
	text-align:right;
	white-space:nowrap;
}
.grid .action span, .grid .action span a{
	display:block;
	float:left;
	width:25px;
	height:25px;
	background:url(../images/btn_bg_gray.png) repeat-x;
	margin-right:3px;
}

.grid a{
	text-decoration:none;
	color:inherit;
	}
.grid input[type="text"]{
	background:transparent;
	border:1px solid #2D2D2D;
	padding:4px;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius: 0;
	color:inherit;	
}


.nogrid td{
	border:0px!important;
	padding:0;
}

.message{
	font-family:TelefonicaTextRegular;
	font-size:20px;
	padding-top:5px;
	height:38px;
}

.action span a.detail{background:url(../images/icons/16x16/attibutes.png) no-repeat 50%;}
.action span a.edit{background:url(../images/icons/16x16/edit.png) no-repeat 50%;}
.action span a.delete{background:url(../images/icons/16x16/busy.png) no-repeat 50%;}
.action span a.approve{background:url(../images/icons/16x16/approve.png) no-repeat 50%;}
.action span a.deny{background:url(../images/icons/16x16/deny.png) no-repeat 50%;}


form{
	padding:0;
	margin:0;
	
}
#loginForm{padding:10px;}
form *{
	font-family:AllerRegular;
	font-size:14px;
	color:#FFFFFF;
}	

input[type="text"], input[type="password"], select, textarea, input[type="file"],input[type="number"],input[type="email"]{
	background:#878787;
	border:2px solid #2D2D2D;
	padding:5px;
	font-family:AllerRegular;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius: 6px;			
}



input[type="radio"], input[type="checkbox"]{
	margin:12px 0px;
	border:1px solid #2D2D2D;
}
.job_edit{
	padding:10px;
}
form strong{
	font-weight:normal;
	white-space:nowrap;
	display:block;
	padding-right:5px;
	padding-bottom:5px;
	padding-top:15px;
	text-transform:uppercase;
	
}
form input[type="text"], form input[type="file"],form input[type="password"], form textarea, form input[type="email"]{width:98%!important;}

.form div.form_title{

	border: 1px solid #000000;

	
	
	background:#5b7b8a;
	height:27px;
	padding-top:12px;
	padding-left:8px;
	margin-bottom:5px;


	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius: 6px;	

/*	
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;

*/
}

.form .form_title div.title{
	float:left;
	
}
.form .form_title div.back{
	float:right;
	margin-top:-6px;
	margin-right:2px;
}



.form .form_button_bar_left{
	background:#787878;
	padding:5px;

	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;

}

.form .form_button_bar_right{
	background:#787878;
	padding:5px;

	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;

}


input[type="submit"], input[type="reset"], input[type="button"]{
	
	border:1px solid #363636;
	height:28px;
	padding:0px 30px;
	padding-top:0px;
	
	color:#FFFFFF;
	text-transform:uppercase;
	font-family:AllerRegular;
	font-size:12px;
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;	

}

.editor, #contents___Frame{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;		
}

input[type="submit"]{
	background:#4b7b91 url(../images/btn_bg_blue.png) repeat-x;
	
	
	background-image:  url(../images/icons/16x16/check.png), url(../images/btn_bg_blue.png);
	background-position: 10%, left;
	background-repeat: no-repeat, repeat-x;

	
} 
input[type="reset"]{
	background:#4b7b91 url(../images/btn_bg_gray.png) repeat-x;
	
	
	background-image:  url(../images/icons/16x16/refresh.png), url(../images/btn_bg_gray.png);
	background-position: 10%, left;
	background-repeat: no-repeat, repeat-x;	
} 
input[type="button"]{
	background:#4b7b91 url(../images/btn_bg_blue.png) repeat-x;
}

input[value="Back"]{

	background:#4b7b91 url(../images/btn_bg_gray.png) repeat-x;
	
	
	background-image:  url(../images/icons/16x16/back.png), url(../images/btn_bg_gray.png);
	background-position: 10%, left;
	background-repeat: no-repeat, repeat-x;
}
input[value="Exit"]{

	background:#4b7b91 url(../images/btn_bg_gray.png) repeat-x;
	
	
	background-image:  url(../images/icons/16x16/sign-in.png), url(../images/btn_bg_gray.png);
	background-position: 10%, left;
	background-repeat: no-repeat, repeat-x;
}

input[value="Add a new item"],
input[value="Add a new Material"],
input[value="Add a new Type"],
#add
 {

	background:#4b7b91 url(../images/btn_bg_gray.png) repeat-x;
	
	
	background-image:  url(../images/icons/16x16/plus.png), url(../images/btn_bg_gray.png);
	background-position: 7%, left;
	background-repeat: no-repeat, repeat-x;
}


form td{
	padding:3px;}
	
	
form{
	display:block;
	border:1px solid #2E2E2E;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius: 6px;		
	}	
.form_instruction{
	margin:15px; 
	padding-bottom:15px; 
	font-size:12px; 
	color:#BFBFBF; 
	border-bottom:1px solid #363636;
}	
	
.paging{
	display:block;
	float:right;
	border:0px solid #000;
	width:61px;
}

.paging a{
	display:block;
	float:left;
	width:25px;
	height:25px;

	margin-right:3px;
	
}

.paging a.next{

	background:#4b7b91 url(../images/btn_bg_gray.png) repeat-x;
	
	
	background-image:  url(../images/icons/16x16/next.png), url(../images/btn_bg_gray.png);
	background-position: 50%, left;
	background-repeat: no-repeat, repeat-x;
	border:0px solid #000;
	margin-left:2px;
}

.paging a.back{

	background:#4b7b91 url(../images/btn_bg_gray.png) repeat-x;
	
	
	background-image:  url(../images/icons/16x16/back.png), url(../images/btn_bg_gray.png);
	background-position: 50%, left;
	background-repeat: no-repeat, repeat-x;
	border:0px solid #000;
	margin-left:2px;
}

.paging a.disabled{

	background:#4b7b91 url(../images/btn_bg_gray.png) repeat-x;
	
	
	background-image:  url(../images/icons/16x16/limited-editiona.png), url(../images/btn_bg_gray.png);
	background-position: 50%, left;
	background-repeat: no-repeat, repeat-x;
	border:0px solid #000;
	margin-left:2px;
	cursor:default;
}

.paging_table td{
	background:#5B7B8A;
	border:0;
}



.grid input[type="text"], .grid textarea{

	border:0;
	background:transparent;
	color:#fff;
	margin:0;
	vertical-align:middle;
	padding:0;
	height:30px;
}

/* file type  */



.icon_doc,.icon_docx, .icon_pdf, .icon_txt,.icon_untitle,.icon_img,.icon_xls,.icon_jpg,.icon_gif,.icon_png,.icon_jpeg,.icon_zip,.icon_rar{
	background:#4b7b91 url(../images/btn_bg_gray.png) repeat-x;
	display:block;
	width:25px;
	height:25px;


}

.icon_doc, .icon_docx{
	background-image:  url(../images/icons/16x16/doc.png), url(../images/btn_bg_gray.png);
	background-position: 50%, left;
	background-repeat: no-repeat, repeat-x;
}

.icon_pdf{
	background-image:  url(../images/icons/16x16/pdf.png), url(../images/btn_bg_gray.png);
	background-position: 50%, left;
	background-repeat: no-repeat, repeat-x;
}
.icon_txt{
	background-image:  url(../images/icons/16x16/txt.png), url(../images/btn_bg_gray.png);
	background-position: 50%, left;
	background-repeat: no-repeat, repeat-x;
}
.icon_untitle{
	background-image:  url(../images/icons/16x16/untitle.png), url(../images/btn_bg_gray.png);
	background-position: 50%, left;
	background-repeat: no-repeat, repeat-x;
}
.icon_img,.icon_jpg,.icon_gif,.icon_png,.icon_jpeg{
	background-image:  url(../images/icons/16x16/img.png), url(../images/btn_bg_gray.png);
	background-position: 50%, left;
	background-repeat: no-repeat, repeat-x;
}
	

.icon_xls{
	background-image:  url(../images/icons/16x16/xls.png), url(../images/btn_bg_gray.png);
	background-position: 50%, left;
	background-repeat: no-repeat, repeat-x;
}

.icon_zip{
	background-image:  url(../images/icons/16x16/zip.png), url(../images/btn_bg_gray.png);
	background-position: 50%, left;
	background-repeat: no-repeat, repeat-x;
}

.icon_rar{
	background-image:  url(../images/icons/16x16/rar.png), url(../images/btn_bg_gray.png);
	background-position: 50%, left;
	background-repeat: no-repeat, repeat-x;
}
	

.asc{
background-image:url(../images/arrowlist_up.png);
background-repeat:no-repeat;
background-position:right;
padding-right:15px;
}
.desc{
	background-image:url(../images/arrowlist_down.png);
	background-repeat:no-repeat;
	background-position:right;
	padding-right:15px;
}


/* end file type  */
	
